@font-primary: 'Verdana';

/* COLORS */

@color-default-text: #333;

@color-primary: #00aeff;
@color-secondary: #12c175;
@color-tertiary: #3afff8;
@color-danger: #ff4949;
@color-warning: #ffbe00;
@color-success: #12c175;

@color-white: #fff;

@color-disabled: #d6d6d6;

/* BORDERS */

@border-color-base: #e7e7e7;
@border-width: 0.01em;

@border-color-selected: @color-primary;

@border-radius: 0.5em;

/* SPACING */

@default-vertical-padding: 1.5em;
@default-vertical-margin: 1.5em;

@default-horizontal-padding: 1em;
@default-horizontal-margin: 1em;

@default-element-padding: 0.4em 1.5em 0.5em 1.5em;

@default-grid-gap: 1em;

/* BREAKPOINTS */

@breakpoint-small: 480px;
@breakpoint-medium: 768px;
@breakpoint-large: 1024px;
@breakpoint-xlarge: 1200px;
