@font-primary: 'Verdana';

@color-default-text: #333;

@color-primary: #00aeff;
@color-secondary: #12c175;
@color-tertiary: #3afff8;
@color-danger: #ff4949;
@color-warning: #ffbe00;
@color-success: #12c175;

@border-color-base: #dcdcdc;

@border-width: 0.1em;

@default-vertical-padding: 1.5em;
@default-vertical-margin: 1.5em;
